
<div class="home-banner container">
  <h1>Pleslay Bar</h1>
  <h2><span id='typed'></span></h2>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 10 %>
    </div>
  </div>
</div>
<div class="container">
  <%= image_tag "https://static.standard.co.uk/s3fs-public/thumbnails/image/2017/11/22/15/the-flask.jpg?w968", class:"w-100 my-8 shadow-sm" %>
</div>
<div class="container">
  <h1 class="my-3">Show your drinks</h1>
  <div class="row">
    <% @cocktails.each do |i| %>
      <div class="col-xs-12 col-sm-4 my-2">
        <%= link_to cocktail_path(i) do %>
          <%= i.name %>
          <%= image_tag "https://source.unsplash.com/360x240/?drinks,#{i.name}", id:"img-drinks", class:"my-2 img-fluid shadow-sm" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
