
<div class="container">
  <div class="container">
    <h1>Cocktail</h1>
    <div class="row">
      <div class="col-6 col-xs-12">
        <h3><%= @cocktail.name %></h3>
        <%= image_tag "https://source.unsplash.com/360x240/?drinks,#{@cocktail.name}", id:"img-drinks", class:"my-2 img-fluid shadow-sm" %>

      <!--   <span><#%= link_to "Back", cocktail_path(@cocktail.id) %></span>
       -->
        <p><%= link_to " Delete ", cocktail_path(@cocktail), method: "delete",
            data: { confirm: "Are you sure?"} %></p>
      </div>
      <div class="col-6 col-xs-12">
        <!-- <div class="container"> -->
          <h3>Description</h3>
          <ul id="dose-description">
          <% @cocktail.doses.each do |i| %>
            <li><%= i.description %> <%= i.ingredient.name%> </li>
          <% end %>
          </ul>


          <p><%= link_to "Add the ingredients", new_cocktail_dose_path(@cocktail.id) %></p>
     <!--  </div> -->
      </div>
    </div>
  </div>
</div>

<div class="container">
    <p><%= link_to "Add a new Drink", new_cocktail_path %></p>
</div>
